html,
body,
#app-container {
  width: 100vw;
  height: 100vh;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
}
#app-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.playground-menu {
  background: #515151;
  border-right: 1px solid #000;
  color: #fff;
  margin: 0;
}
.playground-menu-header {
  font-family: 'Ubuntu', sans-serif;
  padding: 16px 30px;
  background: #e2e2e2;
  color: #000;
  font-weight: bold;
  font-size: 23px;
  text-transform: uppercase;
}
.playground-menu-content {
  padding: 20px;
}
.playground-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 8%;
}
.playground-svg {
  width: 100%;
  height: 100vh;
}
